.userName{
	border: none;
}
.pwd{
border: none;
}
a{
	transform: 50%;
	display: flex;
}
.tab-bd-content {
font-size: 11px;
}
.myname{
	font-size: 100px;
}
body{
    background: #ff6666;
    h1,h2,h3{
        background: blue;
        font-size: 30px;
    }
    a{
        font-size: 30px;
    }
}
