.city-picker-input {
    opacity: 0 !important;
    top: -9999px;
    left: -9999px;
    position: absolute;
}
.city-picker-span {
    position: relative;
    display: block;
  	border-radius: 2px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 1px solid #ddd;
    background-color: #fff;
    color: #ccc;
    cursor: pointer;
    padding-left:12px;
    font-size: 16px;
   
}

.city-picker-span > .placeholder {
    color: #aaa;
}
.city-picker-span > .placeholder{
	font-size: 14px;
}
.city-picker-span > .title > span{
	font-size: 14px;
}
.city-picker-span > .arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 13px;
    margin-top: -3px;
    height: 6px;
    border:6px solid transparent;
    border-top-color:#bbb;
    box-sizing: border-box;
}

.city-picker-span.focus,
.city-picker-span.open {
    border-color:#75b94b;
    background-color: #fff;
}

.city-picker-span.open > .arrow {
    background-position: -10px -10px;
}

.city-picker-span > .title > span {
    color: #333;
    border-radius: 3px;
}

.city-picker-span > .title > span:hover {
    background-color: #f1f8ff;
}

.city-picker-dropdown {
    position: absolute;
    width: 315px;
    left: -9999px;
    top: -9999px;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 999999;
    display: none;
    min-width: 330px;
    margin-bottom: 20px;
}

.city-select-wrap {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);width:370px;margin-left:10px ;}

.city-select-tab {
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
    font-size: 13px;
    margin-bottom: 0 !important;
}

.city-select-tab > a {
    display: inline-block;
    padding: 8px 22px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid transparent;
    color: #75b94b;
    text-align: center;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: -1px;
}

.city-select-tab > a.active {
    background: #fff;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    color: #75b94b !important;
}

.city-select-tab > a:first-child {
    border-left: none;
}

.city-select-tab > a:last-child.active {
    border-right: 1px solid #dddddd;
}

.city-select-content {
    width: 100%;
    min-height: 10px;
    background-color: #fff;
    padding: 10px 15px;
}

.city-select {
    font-size: 13px;
}

.city-select dl {
    line-height: 2;
    clear: both;
    padding: 3px 0;
    margin: 0;
}

.city-select dt {
    position: absolute;
    width: 2.5em;
    font-weight: 500;
    text-align: right;
    line-height: 2;
}

.city-select dd {
    margin-left: 0;
    line-height: 2;
}

.city-select.province dd {
    margin-left: 3em;
}

.city-select a {
    display: inline-block;
    padding: 0 10px;
    outline: 0;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 2px;
    text-decoration: none;
    color: #333 !important;
    cursor: pointer;
}

.city-select a:hover,
.city-select a:focus {
    background-color: #f1f8ff;
    border-radius: 2px;
    color: #46A4FF;
}

.city-select a.active {
    background-color: #46A4FF;
    color: #fff;
    border-radius: 2px;
}